<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Verification</h1>
<p th:text="'userId: ' + ${user.userId}"/>
<!--
<p th:text="'userCat: ' + ${user.userCat}"/>
<p th:text="'kycStatus: ' + ${user.kycStatus}"/>
<p th:text="'gender: ' + ${user.gender}"/>
<p th:text="'firstName: ' + ${user.firstName}"/>
<p th:text="'lastName: ' + ${user.lastName}"/>
<p th:text="'street: ' + ${user.street}"/>
<p th:text="'city: ' + ${user.city}"/>
<p th:text="'zip: ' + ${user.zip}"/>
<p th:text="'country: ' + ${user.country}"/>
<p th:text="'email: ' + ${user.email}"/>
<p th:text="'dob: ' + ${user.dob}"/>
<p th:text="'mobile: ' + ${user.mobile}"/>
<p th:text="'balance: ' + ${user.balance}"/>
<p th:text="'balanceCy: ' + ${user.balanceCy}"/>
<p th:text="'locale: ' + ${user.locale}"/>
<p th:text="'errCode: ' + ${user.errCode}" style="color: crimson"/>
<p th:text="'errMsg: ' + ${user.errMsg}" style="color: crimson"/>-->

<a href="/paymentiq/authorizationShow">Authorization</a>
</body>
</html>